<html>
  <head>
    <title>Teaching Assistant</title>
  </head>

  <body>
    <div>
      <h1>Teaching Assistant</h1>

      <nav>
        <ul>
          <li>
            <a routerLink='/alunos' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
              Alunos
              <i class="fas fa-user"></i>
            </a>
          </li>

          <li>
            <a routerLink='/matriculas' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
              Matriculas
              <i class="fas fa-address-card"></i>
            </a>
          </li>

          <li>
            <a routerLink='/turmas' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
              Turmas
              <i class="fas fa-users"></i>
            </a>
          </li>

          <li>
            <a routerLink='/relatorios' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
              Relatórios
              <i class="fas fa-chart-pie"></i>
            </a>
          </li>

          <li>
            <a routerLink='/auto-avaliacao' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
              Auto-avaliação
              <i class="fas fa-pen"></i>
            </a>
          </li>

          <li>
            <a routerLink='/roteiros' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
              Roteiros
              <i class="fas fa-scroll"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <router-outlet></router-outlet>
  </body>
</html>
