body{
    font-family: 'Source Sans Pro', sans-serif;
    height: fit-content;

}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
}

.link{
    margin: 0 0.6rem;
    text-decoration: none;
    color: #000000;
}

.link:hover{
    color: #3399ff;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fas{
    margin-left: 0.6rem;
}


.active{
    color: #3399ff;
}