<div class="matriculas-container">
    <div class="matriculas-cadastro">
      <h1>Configurar Média de Turmas</h1>
  
      <table>
        <tr>
          <td><label for="add-turma-descricao">Turma</label></td>
          <td><input id="add-turma-descricao" list="turmaDataList" [(ngModel)]="descricaoTurmaSelecionada" (change)="atualizaTurmaSelecionada()">
              <datalist id="turmaDataList">
                  <option *ngFor="let turma of listaTurmas" [value]="turma.descricao">
              </datalist>
          </td>
        </tr>
      </table>
      <div class="matricula-repetida" *ngIf="turmaInexistente">
           <span>
             Não existe turma com essa descrição.<br>
             Por favor, tente novamente.
           </span>
           <button (click)="turmaInexistente=false"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
    </div>
  
    <div class="matriculas-cadastrados" *ngIf="descricaoTurmaSelecionada != ''">
      <h1>Turma Selecionada - <span class="turma-nome">{{descricaoTurmaSelecionada}}</span></h1>
  
      <table class="matriculas-table">
        <thead>
          <tr>
            <th>Meta</th>
            <th>Peso</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr class="matricula" *ngFor="let a of turmaSelecionada.metas; let i = index">
            <td class="matriculas-email">{{a}}</td>
            
            <td class="matriculas-peso">{{turmaSelecionada.peso[i]}}</td>
            

            <td class="acoes" >
              <button name="editar-turma" (click)="turmaChamar.editarTurma(turmaSelecionada)">Editar</button>
              &nbsp;
              <button name="atualizar-turma" (click)="turmaChamar.atualizarTurma(turmaSelecionada)">Salvar</button>
            </td>
  
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  