<html (mousemove)="onMove()">
<table>
    <tr>
        <td><label>Nome </label></td>
        <td><input [(ngModel)]="roteiro.descricao" name="descricaobox"></td>
        <td><button (click)="criarRoteiro(roteiro)" name="addRoteiro">Adicionar</button></td>
        <td *ngIf="roteiroJaExiste">Roteiro já cadastrado</td>
    </tr>
</table>

<h2>Roteiros</h2>
<ul *ngFor="let a of roteiros">
    <li>
        <h3 name="roteirolist" >{{a.descricao}}</h3>
        <h4>Cadastrar roteiro na turma </h4>

        <h4>Blocos de questões</h4>
        <table>
            <tr *ngIf="a.blocos.length > 0">
                <th>Tipo</th>
                <th>Questões</th>
            </tr>
            <tr *ngFor="let b of a.blocos">
                <td name = "blocolist">{{b.tipo}}</td>
                <td>
                    <table>
                      <tr *ngIf="b.questoes.length > 0">
                        <th>Pergunta</th>
                        <th>Dica</th>
                      </tr>
                      <tr *ngFor="let c of b.questoes">
                          <td>{{c.pergunta}}</td>
                          <td>{{c.dica}}</td>
                      </tr>
                    </table>
                </td>
            </tr>
            <tr>
              <td><select name="selectBloco" [(ngModel)]="bloco.tipo" size="1">
                <option value="Sequencial">Sequencial</option>
                <option value="Paralelo">Paralelo</option>
              </select></td>
              <td *ngIf="altBloco" ><button (click)= "atualizarBloco(a)">Atualizar bloco</button></td>
              <td><button (click) = alterarBloco()>Alterar bloco</button></td>
              <td><button (click) = "removerBloco(a, b)">Remover bloco</button></td>
              <td><button (click)="adicionarBloco(a, bloco)">Adicionar bloco</button></td>
            </tr>
        </table>
    </li>
    <li><button (click)="deletarRoteiro(a)">Deletar</button></li>
</ul>
</html>
