input{
    display: block;    
}

label{
    padding: 3px;
    border-radius: 8%;
    margin: auto;
}

.menu{
    margin-left: 45%;

    font-style: bold;
    float: left;
    text-justify: auto;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}
  