<div class="alunos-container" (mousemove)="cpfDuplicado=false">
  <div class="alunos-cadastro">
    <h1>Cadastro de alunos</h1>

    <table>
      <tr>
        <td><label for="add-aluno-cpf">CPF</label></td>
        <td><input id="add-aluno-cpf" placeholder="000.000.000-00" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" [(ngModel)]="aluno.cpf"></td>
      </tr>
      <tr>
        <td><label for="add-aluno-nome">Nome</label></td>
        <td><input id="add-aluno-nome" [(ngModel)]="aluno.nome"></td>
      </tr>
      <tr>
        <td><label for="add-aluno-email">Email</label></td>
        <td><input id="add-aluno-email" type="email" [(ngModel)]="aluno.email"></td>
      </tr>
      <tr>
        <td>
          <button class="add-aluno" (click)="criarAluno(aluno)">Adicionar</button>
        </td>
      </tr>
    </table>
    <div class="aluno-repetido" *ngIf="cpfDuplicado">
         <span>
           Já existe um aluno com esse CPF.<br>
           Por favor, tente novamente.
         </span>
    </div>
  </div>

  <div class="alunos-cadastrados" *ngIf="alunos.length">
    <h1>Lista de alunos cadastrados</h1>

    <table class="alunos-table">
      <thead>
        <tr>
          <th>CPF</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr class="aluno" *ngFor="let a of alunos">
          <td class="aluno-cpf">{{a.cpf}}</td>

          <td class="aluno-nome" *ngIf="alunoEditar.cpf !== a.cpf">{{a.nome}}</td>
          <td class="aluno-nome" *ngIf="alunoEditar.cpf === a.cpf"><input [(ngModel)]="alunoEditar.nome"></td>

          <td class="aluno-email" *ngIf="alunoEditar.cpf !== a.cpf">{{a.email}}</td>
          <td class="aluno-email" *ngIf="alunoEditar.cpf === a.cpf"><input type="email" [(ngModel)]="alunoEditar.email"></td>

          <td class="acoes" *ngIf="alunoEditar.cpf !== a.cpf">
            <button name="editar-aluno" (click)="editarAluno(a)">Editar</button>
            &nbsp;
            <button name="remover-aluno" (click)="removerAluno(a)">Remover</button>
          </td>
          <td *ngIf="alunoEditar.cpf === a.cpf" class="acoes">
            <button name="atualizar-aluno" (click)="atualizarAluno(a)">Salvar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!alunos.length">
    <h3>Nenhum aluno cadastrado.</h3>
  </div>
</div>
