.concluido{
    background-color: green;
    color: white;
}

.iniciadoMasNaoConcluido{
    background-color: rgb(0, 18, 175);
    color: white;
}

.naoIniciado{
    background-color: rgb(255, 166, 0);
}

