<div id="botoes">
    <button><a>Nova Meta</a></button>
    <button><a (click) = toggleDisplayMainButton()>Clonar</a></button>
    <div *ngIf = 'isShow'>
        <div>
            <p>Clonar de</p>
               
            <select [(ngModel)]='turmaOrigem' (change)= 'getMetas($event.target.value, "origem")'> 
                <option *ngFor="let turma of turmasDescricao" [value]="turma" >
                  {{turma}}
                </option>
            </select> 

            <p>para</p>
            
            <select [(ngModel)]='turmaDestino' (change)= 'getMetas($event.target.value, "destino")'> 
                  <option *ngFor="let turma of turmasDescricao" [value]="turma">
                    {{turma}}
                  </option>
                </select>
        </div>

        <div>
            <button (click) = toggleDisplayShowClone() [disabled] = "!(turmaOrigem && turmaDestino)">Clonar</button>
            <button (click) = toggleDisplayHide()>Cancelar</button>
        </div>
        
    </div>
    <a (click) = "toggleDisplayImport()" class="botao" name = "Importar Planilha">Importar Planilha</a>
    <div *ngIf = 'isShowImport'>
      <div class="form-group">
        <label for="file">Arquivo da planilha: </label>
        <input type="file"
               id="file"
               (change)="uparArquivo($event.target.files)">
      </div>

      <div id=import>
        <div id="inside">
          <p>Coluna que contem a identificação do aluno:  </p>
          <input class="input" [(ngModel)]="col1" name="colInput">
  
        </div>
        <div id="inside">
          <p>Coluna que será importada:  </p>
          <input class="input" [(ngModel)]="col" name="colInput">
        </div>
        <div id="upload">
          <p>Caso uma coluna não seja selecionada, a planilha inteira será importada por padrão</p>
          <a (click)="enviarPlanilha()" class="botao" id=uploadButton>Upload</a>
        </div>
    </div>

    </div>
    <div if="table">
    <table>
      <tr name="turma">
        <th>Nome</th>
        <th>Requisitos</th>
        <th>Ger. de Configuração</th>
        <th>Ger. de Projetos</th>
     </tr>
     <tr *ngFor="let a of matriculas;" name="alunoList">
        <td name="nomelist">{{a.aluno.nome}}</td>
        <td name="meta1list">{{a.avaliacoes[0].nota}}</td>
        <td name="meta2list">{{a.avaliacoes[1].nota}}</td>
        <td name="meta3list">{{a.avaliacoes[2].nota}}</td>
        
     </tr>
    </table>
  </div>
   
</div>
