<!-- Botões para cadastrar, remover, atualizar e comparar turmas -->
<div id="botoes">
    <button (click)="alternarVisualizacaoOpcoesComparacao()">Comparar Turmas</button>
</div>

<!-- Lista de turmas e suas médias -->
<table>
    <thead>
        <tr>
            <th>Turma</th>
            <th>Média</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div *ngIf="modalOpcoesComparacaoAtivo" class="modal">
    <h3>Opções de Comparação</h3>
    <button (click)="compararTodas()">Todas as Turmas</button>
    <button (click)="compararUltimasQuatro()">Últimas 4 Turmas</button>
    <button (click)="alternarVisualizacaoTurmas()">Escolher Turmas</button>
    <div>
        <button [routerLink]="['/comparacao-de-desempenho', turmasEscolhidas.join(',')]">Confirmar</button>
        <button (click)="alternarVisualizacaoOpcoesComparacao()">Voltar</button>
    </div>
</div>

<div *ngIf="modalTurmasAtivo" class="modal">
    <h3>Turmas Disponíveis</h3>
    <button *ngFor="let turma of turmas" (click)="atualizarTurmasEscolhidas(turma.descricao)">
        {{ turma.descricao }}
    </button>
    <div>
        <button [routerLink]="['/comparacao-de-desempenho', turmasEscolhidas.join(',')]">Confirmar</button>
        <button (click)="alternarVisualizacaoTurmas()">Voltar</button>
    </div>
</div>